* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SFProText-Regular";
  src: local("SFProText-Regular"),
    url(./assets/fonts/FontsFree-Net-SFProText-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-Semibold";
  src: local("SFProText-Semibold"),
    url(./assets/fonts/FontsFree-Net-SFProText-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "SFProText-Bold";
  src: local("SFProText-Bold"),
    url(./assets/fonts/FontsFree-Net-SFProText-Bold-1.ttf) format("truetype");
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  color: var(--fontPrimary);
  background-color: var(--backgroundPrimary);
  font-size: 14px;
  font-family: "SFProText-Regular";
}

#__next {
  height: 100%;
  width: 100%;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}
