.button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 12px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  line-height: 0;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  height: 40px;
  padding: 1rem;

  &:focus {
    outline: none;
  }
}
