.button {
  background-color: #fff;
  border: 1px solid var(--borderColor);
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  line-height: 0;
  justify-content: space-around;
  align-items: center;

  &:hover {
    border: 1px solid var(--borderColorHover);
  }

  &:focus {
    outline: none;
  }
}
