.container {
  height: 200px;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  cursor: pointer;

  .progressBar {
    height: 100%;
    width: 10px;
    border-radius: 5px;
  }

  .image {
    width: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1rem;
  }

  .details {
    flex: 1;
    .languageBox {
      background-color: var(--white);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      width: 80px;
      height: 30px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "SFProText-Semibold";
    }

    .title {
      font-family: "SFProText-Semibold";
      font-size: 28px;
      margin: 1rem 0;
    }

    .description {
      font-family: "SFProText-Regular";
    }
  }

  .ratingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;

    .rating {
      width: 43px;
      height: 43px;
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "SFProText-Bold";
      color: var(--black);

      .percent {
        font-family: "SFProText-Semibold";
        font-size: 10px;
        margin-left: 1px;
      }
    }
  }
}
